

.classroomInformation_QPS{
    border-radius: 15px;
    background-color: #7d57fc;
    padding-inline: 1em;
    height: 30%;
}

.customClassRow_QPS{
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 1;
    border-radius: 15px;
    padding: 1em;
    align-items: center;
    width: 100%;
}

.containerHeader_QPS{
    text-align: center;
    font-weight: bold;
}

.containerCaption_QPS{
    font-size: calc(0.2em + 0.6dvw);
    text-align: center;
    color: #505050;
    padding-inline: 10%;
}

.primaryBTN{
    border-radius: 10px;
    background-color: #7d57fc;
    font-size: calc(0.2em + 0.6dvw);
    color: white;
    padding: 1em 3em;
}


@media (max-width: 927px) {
    .classroomInformation_QPS{
        height: fit-content;
    }

    .allTeamsBTN{
        justify-content: start !important;
    }

    .customClassCol_QPS{
        height: 400px;
        margin-top: 10px;
    }
    .customClassRow_QPS{
        max-height: fit-content !;
        margin-top: 10px;
        gap: 10px;
    }
    .primaryBTN{
        font-size: 0.7em;
    }
    .containerCaption_QPS{
        font-size: 1em;
    }
    #journalContainer_QPS{
        min-height: 250px;
    }
}